In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Answer 1:
import pandas as pd

a = pd.Series([4,8,16,23,42])
print(a)

0     4
1     8
2    16
3    23
4    42
dtype: int64

In [7]:
#ANswer 2:
l = [1,435,45,5,4,56,5,"yes"]
a =pd.Series(l)
print(a)

0      1
1    435
2     45
3      5
4      4
5     56
6      5
7    yes
dtype: object

In [11]:
#Answer 3:
l = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':["Female","Male","Female"]}
a = pd.DataFrame(l)
print(a)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
#Answer 4
#The dimensions of the data are where a Pandas Series and a single-column DataFrame most obviously diverge.
#A Series only has one data column, whereas a single-column DataFrame contains both a data column and an index.
#The labels for the data are contained in the index, which is a second column.
#There are certain distinctions in the extra features that a Series and a single-column DataFrame offer,
#despite the fact that they share many common functionalities.
#Additional features like filtering, merging, and joining is accessible in a single-column DataFrame but not in a Series.

# Answer 2 is a example of series
# Answer 3 is a eexample of DataFrame

In [1]:
#Answer 5: Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.
#Sorting the DataFrame using sort_values() method.

In [2]:
#Answer 6: Series is a one dimensional array like structure with homogeneous data.
#The values of the series are mutable means we can change any value in series, but the size of the series is immutable so we can not change the size of the series.

#DataFrame is a two-dimensional array with heterogeneous data.
#A DataFrame size is mutable and data is also mutable so we can change the data and size of DataFrame at any time.

#The panel is a three-dimensional data structure with heterogeneous data. It is very hard to represent the Panel in a graphical representation.
#But a Panel can be illustrated as a container of a DataFrame.

In [5]:
#Answer 7
import pandas as pd

auth_list = pd.Series(['sudh','sudh1','sudh2','sudh3'])
course_list = pd.Series(["Python","Data Science","web dev","algo"])

frame = pd.DataFrame({"Author":auth_list,"Courses":course_list})
print(frame)

  Author       Courses
0   sudh        Python
1  sudh1  Data Science
2  sudh2       web dev
3  sudh3          algo