In [ ]:
#Answer 1:A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
#SQL databases are relational, and NoSQL databases are non-relational.
#SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
#SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

In [ ]:
#Answer 2:A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database.
#CREATE: The CREATE statement is used to create a new database object. It can be used to create tables, views, indexes, functions, procedures, and more.
#For example, let's say you want to create a table called "Customers" with columns for customer ID, name, and email:
'''
CREATE TABLE Customers (
  customer_id INT PRIMARY KEY,
  name VARCHAR(100),
  email VARCHAR(100)
);
'''
#DROP: The DROP statement is used to remove an existing database object from the database.
#It can be used to drop tables, views, indexes, functions, procedures, and more. For example, to drop the previously created "Customers" table
'''
DROP TABLE Customers;
'''
#ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or drop columns in a table, change data types, and more.
#For example, let's say you want to add a new column called "phone" to the "Customers" table:
'''
ALTER TABLE Customers
ADD COLUMN phone VARCHAR(20);
'''
#TRUNCATE: The TRUNCATE statement is used to remove all the data from a table while keeping the table structure intact. It is a fast way to delete all the records from a table without deleting the table itself.
#For example, to remove all the data from the "Customers"
'''
TRUNCATE TABLE Customers;
'''

In [ ]:
#Answer 3: A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database.
#INSERT: The INSERT statement is used to insert new records into a table. It allows you to add data into specific columns of a table.
'''
INSERT INTO Employees (employee_id, name, salary)
VALUES (1, 'John Doe', 50000);
'''
#UPDATE: The UPDATE statement is used to modify existing records in a table.
#It allows you to change the values of specific columns in one or more rows.
'''
UPDATE Employees
SET salary = 60000
WHERE employee_id = 1;
'''
#The DELETE statement is used to remove one or more records from a table.
#It allows you to delete specific rows based on certain conditions.
'''
DELETE FROM Employees
WHERE employee_id = 1;
'''

In [ ]:
#Answer 4: Data Query Language, DQL is a portion of a SQL statement that allows you to get and organise data from a database.
#SELECT is a fundamental SQL statement used to retrieve data from a database.
#It allows you to query a table or multiple tables to extract specific information based on specified conditions.
'''
SELECT * FROM Employees;
'''

In [ ]:
#Answer 5: In a relational database, a primary key is a column or a combination of columns that uniquely identifies each row in a table.
# A foreign key is a column or a combination of columns in one table that refers to the primary key of another table.

In [ ]:
# Answer 6
import mysql.connector

# Establishing the connection
cnx = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object to execute SQL queries
cursor = cnx.cursor()

# Executing a sample SQL query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetching all the rows returned by the query
rows = cursor.fetchall()

# Displaying the fetched data
for row in rows:
    print(row)

# Closing the cursor and the connection
cursor.close()
cnx.close()

#The cursor() method is used to create a cursor object that allows you to execute SQL queries and fetch data from the database.
#The execute() method is used to execute SQL queries using the cursor object. 
#It allows you to send a single SQL statement or a parameterized SQL statement to the database for execution.

In [10]:
#Answer 7: FROM then WHERE then GROUP BY then HAVING then SELECT then DISTINCT then ORDER BY
# then LIMIT/OFFSET